<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>YKSUI框架 - 404 页面</title>
    <script src="jsLoad/code/load.js" include="../top.html"></script>
    <!--加css-->
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>

        <div class="error-desc">
            抱歉，页面好像去火星了~
        </div>
    </div>
    <script src="jsLoad/code/load.js" include="../js.html"></script>
    <!--加本页面 的js文件与js代码-->
</body>
</html>


